$orange: rgba(255, 126, 27, 1);
$orangehover: rgba(255, 172, 106, 1);
$paleOrange: rgba(255, 237, 224, 1);
$veryDarkBlue: rgba(29, 32, 37, 1);
$darkGrayishBlue: rgba(104, 112, 125, 1);
$grayishBlue: rgba(182, 188, 200, 1);
$lightGrayish: rgba(247, 248, 253, 1);
$HalfTransparentBlack: rgba(0, 0, 0, 0.75);
$alarm: rgba(255, 72, 72, 1);
